<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <contextName>gateway-service</contextName>
    <springProperty scope="context" name="${logging.file}" source="${logging.path}"
                    defaultValue="DEBUG"/>
    <property name="encoderPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %file:%line - %msg%n" />
    <springProperty scope="context" name="log.path" source="logging.path" defaultValue="/Users/rose/mylog/"/>
    <springProperty scope="context" name="log.file" source="logging.file" defaultValue="gateway"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.file}_%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.apache.tomcat" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>
    <logger name="com.ofashion.gateway.filters.AccessLogGlobalFilter" level="info"/>
    <root level="${log.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
